.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
}
.navbar > span {
  font-family: 'Big Shoulders Inline Display', cursive;
  font-size: 3rem;
}

/* .padding {
  padding-left: 8rem;
  padding-right: 8rem;
} */
